:root {
  --font-family-regular: "Gordita Regular";
  --font-family-thin: "Gordita Thin";
  --font-family-thin-italic: "Gordita Thin Italic";
  --font-family-light: "Gordita Light";
  --font-family-light-italic: "Gordita Light Italic";
  --font-family-medium: "Gordita Medium";
  --font-family-medium-italic: "Gordita Medium Italic";
  --font-family-bold: "Gordita Bold";
  --font-family-bold-italic: "Gordita Bold Italic";
  --font-family-bold: "Gordita Bold";
}
